@import "default";

//DEFAULTS

*{
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  &:focus{
    outline: none;
  }
}

h1, p{
  margin: 0;
}

body{
  margin: 0;
  font-size: 1em;
  font-family: "Josefin", sans-serif;
  overflow-x: hidden;
  color: @offBlack;
  line-height: 1.2;
}

strong{
  font-family: "Josefin Bold", sans-serif;
}

.italic{
  font-family: "Josefin Italic", sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Playfair", serif;
  margin: 0 0 10px;
  i{
    font-family: "Playfair Italic", serif;
  }
}

h1{
  font-size: @xxlarge;
}

h2{
  font-size: @xlarge;
}

h3{
  font-size: @large;
}

h4{
  font-size: @medium;
}

p, span, a{
  font-size: @medium;
  display: inline-block;
  &.divider{
    position: relative;
    &:after{
      content: '';
      display: inline-block;
      width: 100%;
      left: 0;
      bottom: -10px;
      height: 70px;
      background: url("img/divider.jpg") center -50px no-repeat;
      background-size: 90%;
      @media (max-width: 400px){
        background: url("img/divider.jpg") center 0 no-repeat;
        background-size: 90%;
      }
    }
    &.half{
      @media (min-width: 640px){
        &:after{
          background-position: center -25px;
        }
      }
    }
  }
}

p{
  a{
    font-size: 1.25rem;
    text-decoration: underline;
    transition: all ease 0.2s;
    &:hover{
      color: @grey;
    }
  }
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  width: 100%;
}

img.logo{
  max-height: 40px;
  width: auto;
}

a{
  color: unset;
  text-decoration: none;
  cursor: pointer;
  &:visited{
    color: unset;
  }
}line-

//MAIN STYLES

header{
  text-align: center;
  padding: 20px 0;
}

.fixed{
  overflow: hidden;
}

.menubtn{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 99;
  transition: all ease 0.2s;
  width: 100%;
  svg{
    padding: 20px;
    font-size: 50px;
    color: @white;
    cursor: pointer;
    transition: all ease 0.2s;
    &.dark{
      color: @darkgrey;
    }
  }
  &.scrolled{
    background-color: rgba(63,63,63, 0.7);
    @media (min-width: 1200px) {
      background-color: transparent;
    }
  }
}

.menu{
  position: fixed;
  width: 400px;
  height: 100vh;
  left: -400px;
  top: 0;
  transition: left ease 0.3s;
  z-index: 99;
  background: @darkgrey;
  overflow: auto;
  color: @white;
  h3{
    margin: 100px 20px 0;
  }
  .menu-items{
    margin: 20px;
    border-top: 1px solid;
    padding: 20px 0 0 0;
    li{
      margin: 0 0 10px;
      padding: 0 0 5px;
      a{
        font-size: @large;
        display: inline-block;
        position: relative;
        &::after{
          position: absolute;
          content: '';
          width: 0px;
          height: 2px;
          background: @white;
          display: inline-block;
          transition: width 0.2s ease;
          left: 0;
          top: 30px;
        }
      }
      &:hover{
        a {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  &.active{
    left: 0;
  }
  @media (max-width: 640px){
    width: 85vw;
    left: -100vw;
    .menu-items {
      li {
        a {
          font-size: @medium;
        }
      }
    }
  }
}

footer{
  padding: 20px 0 0;
  margin: 100px 0 0;
  .fsection{
    width: 50%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
  }
  .logo-wrap{
    text-align: center;
    padding: 30px 0 10px;
  }
}

.center{
  text-align: center;
}

.container{
  max-width: 60%;
  padding: 0 20%;
  margin-bottom: 10%;
  position: relative;
  h2{
    border-bottom: 1px solid;
    padding-bottom: 10px;
  }
  @media (max-width: 1024px){
    padding: 10px 10px 10%!important;
    max-width: 100%;
  }
  @media (max-width: 640px){
    min-height: 50vh;
  }
  &.big{
    height: 2000px;
  }
  &.last{
    margin-bottom: 0;
  }
  &.faqs{
    h3{
      margin: 30px 0 20px;
      &:first-of-type{
        margin-top: 0;
      }
    }
    h3, p{
      padding: 0 2rem;
    }
    span{
      color: @grey;
    }
  }
  &.rates{
    background: url("img/Scott 2.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px 20%;
    *{
      color: @white;
    }
  }
  &.accompanist{
    background: url("img/piano 3.jpg") center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 20px 20%;
    *{
      color: @white;
    }
  }
  h1, h2, h3, h4, span, p, b, .rate-row{
    z-index: 3;
    position: relative;
  }
}

.spacer{
  height: 10vh;
}

.overlay{
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.2) 100%);
  //background: rgba(0,0,0,0.5);
}

.hero{
  background: url("img/Scott 1.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: relative;
  overflow-x: hidden;
  .heroInner{
    color: @white;
    position: absolute;
    z-index: 3;
    text-align: right;
    top: 40vh;
    right: 25vw;
    max-width: 100%;
    padding: 0 20px;
    h1, h4 {
      font-weight: 500 !important;
    }
    h1{
      display: inline-block;
      position: relative;
      &::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background: @white;
        display: inline-block;
        transition: width 0.2s ease;
        left: 0;
        bottom: -5px;
      }
    }
    h4{
      margin: 0;
    }
    @media (max-width: 640px){
      right: 0;
      top: 20vh;
    }
  }
  .scroller{
    position: absolute;
    bottom: 50px;
    width: 100%;
    z-index: 3;
    text-align: center;
    i{
      font-size: 50px;
      color: @white;
      padding: 10px;
      cursor: pointer;
      transition: all ease 0.3s;
      opacity: 0.7;
      &:hover{
        transform: translate(0, 10px);
        opacity: 1;
      }
    }
  }
}

.section1{
  padding-top: 200px;
  h2{
    margin-bottom: 20px;
  }
  p, img{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    box-sizing: border-box;
    @media (max-width: 768px){
      display: block;
      width: 100%;
    }
  }
  p{
    padding-right: 20px;
  }
  @media (max-width: 640px){
    padding-top: 100px;
  }
}

.rate-row {
  border-bottom: 1px solid @lightgrey;
  padding: 10px 0;
  margin: 0 2rem;
  h4 {
    display: inline-block;
    margin: 0;
  }
  span {
    float: right;
    margin-top: 0.5rem;
  }
  &:last-child {
    border-bottom: 0;
  }
  @media (max-width: 640px) {
    .dependant{
      float: none;
      width: 100%;
      text-align: right;
    }
  }
}

footer{
  padding: 20px;
  background: @darkgrey;
  color: @white;
  font-size: @small;
  .footer-section{
    display: inline-block;
    width: 33.333%;
    vertical-align: top;
    h4{
      text-decoration: underline;
    }
    @media (max-width: 768px){
      display: block;
      width: 100%;
      text-align: left!important;
      margin: 0 0 100px;
    }
    &.social{
      text-align: center;
      .social-links{
        a{
          background: @white;
          border-radius: 100%;
          border: 2px solid @white;
          display: inline-block;
          width: 25px;
          height: 25px;
          padding: 10px;
          font-size: 25px;
          text-align: center;
          margin: 5px;
          z-index: 2;
          transition: all ease 0.2s;
          svg{
            color: @darkgrey;
            vertical-align: top;
            cursor: pointer;
            transition: all ease 0.2s;
            &.fa-soundcloud{
              margin-left: -3px;
            }
          }
          &:hover{
            background: transparent;
            svg.fa-facebook-f{
              color: #0084FF;
            }
            svg.fa-facebook-messenger{
              color: #0084FF;
            }
            svg.fa-soundcloud{
              color: #FF5624;
            }
            svg.fa-envelope{
              color: #E34D43;
            }
          }
        }
      }
    }
    &.contact{
      text-align: right;
      .menu-items{
        li{
          a{
            i{
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  .credit{
    text-align: center;
    background: @offBlack;
    margin: 20px -20px -20px -20px;
    padding: 10px;
    span{

    }
    a{
      font-size: @small;
      position: relative;
      transition: all ease 0.8s;
      z-index: 0;
      display: inline-block;
      &::after{
        content: '';
        display: inline-block;
        position: absolute;
        top: 1px;
        right: 0;
        background: url("http://127.0.0.1:8887/img/logo/mh-logo.png") center center no-repeat;
        width: 22px;
        height: 15px;
        background-size: 100%;
        z-index: -1;
        transition: all cubic-bezier(.15,.86,.35,.98) 0.2s;
        opacity: 0;
      }
      &::before{
        position: absolute;
        content: '';
        width: 0px;
        height: 1px;
        background: @red;
        display: inline-block;
        transition: width 0.2s ease;
        left: 0;
        bottom: -2px;
      }
      img{
        cursor: pointer;
      }

      &.max{
        font-size: 1em;
      }

      &:hover{
        color: @red;
        &::before {
          width: 122%;
        }
        &::after{
          right: -25px;
          opacity: 1;
        }
      }
    }
  }
}

.wow {
  visibility: hidden;
}